@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1693f3;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101a22;
  --font-display: "Plus Jakarta Sans", sans-serif;
}
